<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HSRPDataEntryNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HSRPDataEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DataFolder" value="d:\data1\" />
    <add key="DataFileFolder" value="C:\\Reports\\" />
    <add key="EXLFileFolder" value="D:\Reports\" />
    <add key="PdfFile" value="D:\PdfFile\" />
    <add key="Stateid" value="3" />
    <add key="StateName" value="HP" />
    <add key="RTOLocationCode" value="72" />
    <!--<add key="OldDataURL-HP62" value="http://10.128.130.104:8080/EServices/UserDetails?"/>-->
    <!--<add key="OldDataURL-HP63" value="http://10.64.3.9:8080/EServices/UserDetails?"/>-->
    <add key="CompanyName" value="LINK UTSAV VENTURES PVT. LTD." />
    <add key="RTOLocationAddress" value="RLA NAHAN" />
    <add key="ReceiptSizeA4" value="True"/>
    
   <add key="PrinterName" value="HP LaserJet Professional P1106 (Copy 1)"/>
    <!--<add key="PrinterName" value="HP LaserJet Professional M1213nf MFP"/>-->

    <add key="ConnectionString1" value="Data Source=.;Initial Catalog=HSRP_HP;Integrated Security=True"/>


    <!--<add key="ConnectionString" value="Data Source=ASHUTOSHTRIPATH\SQLEXPRESS;Initial Catalog=HSRP_APP_HP; UID=sa; PWD=sa@123;"/>    
    <add key="ConnectionString1" value="Data Source=ASHUTOSHTRIPATH\SQLEXPRESS;Initial Catalog=HSRP_HP; UID=sa; PWD=sa@123;"/>-->
    
    <add key="ConnectionStringlive" value="Database=hsrpdemo;Server=43.242.124.207;UID=hsrptest;PWD=hsrptest@)!^; pooling=true; Max Pool Size=200;Connect Timeout=0"/>
    
    <!--<add key="ConnectionStringlive" value="Database=hsrpdemo;Server=180.151.100.245;UID=sa;PWD=*S7p@E6#; pooling=true; Max Pool Size=200;Connect Timeout=0"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <HSRPDataEntryNew.Properties.Settings>
      <setting name="HSRP_3_9_HPWebService_HSRPService" serializeAs="String">
        <value>http://localhost:54602/HSRPService.asmx</value>
      </setting>
      <!--<setting name="HSRP_3_9_WebReferenceHP_HSRPService" serializeAs="String">
        <value>http://localhost:54602/HSRPService.asmx</value>
      </setting>-->
    </HSRPDataEntryNew.Properties.Settings>
    <!--<HSRPDataEntry.Properties.Settings>
      <setting name="HSRP_3_9_WebReferenceHP_HSRPService" serializeAs="String">
        <value>http://180.151.100.242/hrhpwebservice/hsrpservice.asmx</value>
      </setting>
    </HSRPDataEntry.Properties.Settings>-->
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HSRPServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54602/HSRPService.asmx" binding="basicHttpBinding"
        bindingConfiguration="HSRPServiceSoap" contract="ServiceReference1.HSRPServiceSoap"
        name="HSRPServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>