<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HSRP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!--<add key="PdfFolder" value="D:\\Pdf\\"/>-->
    <add key="PdfFolder" value="E:\\Pdf\\"/>
    <add key="PdfFolder" value="D:\\PdfFolder\\"/>
    <!--<add key="PdfFolder" value="E:\\PdfFolder\\"/>-->
    <add key="RequestFolder" value="D:\\RequestFolder\\"/>
    <add key="HSRPExcel" value="D:\\HSRPExcel\\"/>
    <add key="DealerFolder" value="D:\\DealerFolder\\"/>
    <!--<add key="AgentFolder" value="D:\\DealerFolder\\"/>-->
    <add key="DataFolder" value="D:\\data1\\"/>
    <add key="HTTPDataFolder" value="http://180.151.100.242/Data/"/>
    <add key="LaserFolder" value="d:\\LaserFolder\\"/>
    <add key="DataFolder" value="D:\\data1\\PRSANSR.TTF" />
    <!--<add key="PdfFolder" value="d:\\Pdf\\"/>-->



  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=ADMIN-PC;Initial Catalog=hsrpdemo;Integrated Security=True"/>-->
    <add name="ConnectionStringDealerHSRP" connectionString="Database=hsrpdemo;Server=180.151.100.245;UID=sa;PWD=*S7p@E6#; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringRTO" connectionString="Database=RTO_Collection;Server=180.151.100.242;UID=sa;PWD=(@sa!)6jbl; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Database=hsrpdemo;Server=180.151.100.245;UID=sa;PWD=*S7p@E6#; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Database=hsrpdemo;Server=115.112.157.60;UID=sa;PWD=*S7p@E6#; pooling=true; Max Pool Size=200;Connect Timeout=0"
    providerName="System.Data.SqlClient" />-->
    <add name="ConnectionStringMP" connectionString="Database=hsrpdemo;Server=180.151.100.245;UID=sa;PWD=*S7p@E6#; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringCashReceipt" connectionString="Database=RTO_COLLECTION;Server=180.151.100.242;UID=sa;PWD=(@sa!)6jbl; pooling=true; Max Pool Size=200;Connect Timeout=0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
          The <customErrors> section enables configuration 
          of what to do if/when an unhandled error occurs 
          during the execution of a request. Specifically, 
          it enables developers to configure html error pages 
          to be displayed in place of a error stack trace.

          <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm" />
          <error statusCode="404" redirect="FileNotFound.htm" />
          </customErrors>
      -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HSRP.WCFService.ServiceForSuggestionAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="HSRP.WCFService.ServiceForSuggestion">
        <endpoint address="" behaviorConfiguration="HSRP.WCFService.ServiceForSuggestionAspNetAjaxBehavior" binding="webHttpBinding" contract="HSRP.WCFService.ServiceForSuggestion"/>
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <HSRP.Properties.Settings>
      <setting name="HSRP_org_mptransport_oltp_HSRP" serializeAs="String">
        <value>https://oltp.mptransport.org/TServiceHSRP/HSRP.asmx</value>
      </setting>
      <setting name="HSRP_APWebrefrence_HSRPAuthorizationService" serializeAs="String">
        <value>https://aptransport.in/aprtawebsrv/hsrpauthorizationservice.asmx</value>
      </setting>
      <setting name="HSRP_TGWebrefrence_HSRPAuthorizationService" serializeAs="String">
        <value>https://tgtransport.net/tgrtawebsrv/hsrpauthorizationservice.asmx</value>
      </setting>
    </HSRP.Properties.Settings>
  </applicationSettings>
  <system.web>
    <httpRuntime executionTimeout="999" maxRequestLength="2097151"/>
    
  </system.web>
</configuration>